GREENNODE_CLIENT_ID=f7955861-3ef1-4dd9-8204-603ec0c7ecb2
GREENNODE_CLIENT_SECRET=272792c7-d5eb-4fdc-8fbd-fdc316b88c70
GREENNODE_AGENT_IDENTITY=
LLM_API_KEY=
LLM_BASE_URL=https://maas-llm-aiplatform-hcm.api.vngcloud.vn/v1
LLM_MODEL=
